@inherits LayoutComponentBase

<PageTitle>Platform.Web</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="p-4">
            <div class="float-right">
                <LoginDisplay></LoginDisplay>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
