@using Models.DTOs.Comment
@using Platform.Web.Services.Interfaces
@using Platform.Web.Shared.Components;

@inject ICommentDataService CommentService
@inject ICommentLikeService CommentLikeService
@inject NavigationManager NavigationManager
@inject IAuthService AuthService

@foreach (var comment in Comments)
{
    <p>@comment.Content</p>
    <p>likes: @comment.Likes</p>

    <button class="btn btn-danger" @onclick="() => DeleteComment(comment)">Delete</button>
    <button class="btn btn-primary" @onclick="() => LikeUnlike(comment)">Like</button>

    <div class="row">
        <div class="offset-sm-1">
            <SubCommentList CommentId="comment.Id" />
            <SubCommentCreate CommentId="comment.Id" />
        </div>
    </div>

}

@code {
    [Parameter]
    public int PostId { get; set; }
    private IEnumerable<CommentDto> Comments { get; set; } = new List<CommentDto>();

    protected override async Task OnInitializedAsync()
    {
        Comments = await CommentService.ListByPostId(PostId);
    }

    private async Task DeleteComment(CommentDto comment)
    {
        await CommentService.Delete(comment.Id);
        Comments = Comments.Where(x => x.Id != comment.Id);
    }

    private async Task LikeUnlike(CommentDto comment)
    {
        var userId = await AuthService.GetUserId();
        await CommentLikeService.LikeUnlike(comment.Id, userId);
    }
}
