@using Models.DTOs.Comment

@inject ICommentDataService CommentService
@inject NavigationManager NavigationManager

@foreach (var comment in Comments)
{
    <p>@comment.Content</p>
    <button class="btn btn-danger" @onclick="() => DeleteComment(comment)">Delete</button>

}

@code {
    [Parameter]
    public int PostId { get; set; }
    private IEnumerable<CommentDto> Comments { get; set; } = new List<CommentDto>();

    protected override async Task OnInitializedAsync()
    {
        Comments = await CommentService.ListByPostId(PostId);
    }

    private async Task DeleteComment(CommentDto comment)
    {
        await CommentService.Delete(comment.Id);
        Comments = Comments.Where(x => x.Id != comment.Id);
    }
}
