@using Models.DTOs.UserProfile

@if (UserProfile != null)
{
    <div class="mt-1 ml-2">
        <div class="d-inline-block">
            <img class="mb-3" src="@UserProfile.DisplayPic" alt="Avatar" style="width: 50px;
              height: 50px; max-height: 50px; max-width: 50px; object-fit:cover; border-radius:50%;">
        </div>

        <div class="d-inline-block ml-2">
            <p class="m-0">@UserProfile.FirstName @UserProfile.LastName</p> 

            @if (_time != string.Empty)
            {
                <p class="m-0">@_time</p>
            }
        </div>
    </div>
}

@code {
    [Parameter]
    public UserProfileDto UserProfile { get; set; }
    [Parameter]
    public DateTime ActionDateTime { get; set; }
    private string _time { get; set; }

    protected override void OnInitialized()
    {
        var currentDateTime = DateTime.Now;
        var actionLocalDateTime = ActionDateTime.ToLocalTime();

        var differenceInDays = (currentDateTime - actionLocalDateTime).Days;
        var differenceInHours = (currentDateTime - actionLocalDateTime).Hours;
        var differenceInMinutes = (currentDateTime - actionLocalDateTime).Minutes;

        if (differenceInDays > 0)
        {
            _time = $"{differenceInDays}d";
        }
        else if (differenceInHours > 0)
        {
            _time = $"{differenceInHours}h";
        }
        else
        {
            _time = $"{differenceInMinutes}m";
        }
    }
}
